<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/contactus">Contact Us</a></li>
    </ul>
  </div>
</nav>
	<div class="container">
		<h1 class="text-center">Contact Us</h1>
	<form action="" method="post">

		<div class="form-group">
		  <label for="usr">Name:</label>
		  <input type="text" class="form-control" id="usr">
		</div>
		<div class="form-group">
	    <label for="email">Email:</label>
	    <input type="email" class="form-control" id="email">
	  </div>
	  <div class="form-group">
		  <label for="title">Title:</label>
		  <input type="text" class="form-control" id="title">
		</div>
		<div class="form-group">
		  <label for="msg">Message:</label>
		  <textarea class="form-control" rows="5" id="msg"></textarea>
		</div>
		  <button type="submit" class="btn btn-default">Submit</button>
    </form>


	   </div>

</body>
</html>